.p1{
  color:#808080;
   text-indent:1%;}

   
.image{
   width:180px;
   height:8%;
   left:2px; 
   padding:1px;}
.img{ 
   width:155px;
   height:400px;
  margin-left:20px;
  margin-bottom:0;
  padding:70px;

    }
.imgg{ 
   width:200px;
   height:400px;
  padding-left:15%;
 padding-bottom:0;
 margin-bottom:0;
   }
.iiig{ 
   width:450px;
   height:80%;
    padding:20px;
  padding-right:1%;
margin-bottom:0;
 position:relative;
right:950px;
 }

.iiiig{ 
   width:200px;
   height:370px;padding:20px;
  padding-left:20%;
margin-bottom:0;
position:relative;
right:100px;
   }
.mmmm{ 
   width:200px;
   height:380px;
  margin-left:2px;
  margin-bottom:0;
  padding:92px;
 position:relative;
 right:950px;
  
  }

.nnn{ 
   width:180px;
   height:400px;
  margin-left:20px;
  margin-bottom:0;
  padding:80px;


  }
.divtext1{
       padding-left:60%;
       color:#808080;
      bottom:60px;  
     position:relative;
    right:60px;
    margin-bottom:0;
    padding-bottom:0;
   }
.divtext2{
    padding-left:40px;
    color:#808080;
  bottom:60px;  
     position:relative;
    left:80px;
     margin-bottom:0;
    padding-bottom:0;
   }
.divtext21{
    text-decoration:line-through
       margin-bottom:0;
    padding-bottom:0;};
   }
.divtexttt{
        bottom:60px;  
     position:relative;
    left:60px;
       color:#808080;
   }
    
    
.divtext4{
    padding-left:35%;
    color:#808080;
     bottom:60px;  
     position:relative;
    right:950px;
       margin-bottom:0;
    padding-bottom:0;}
.divtext5{
    padding-left:30%;
     color:#808080;
      margin-bottom:0;
    padding-bottom:0;}
.divtext51{
    padding-left:0%;
      text-decoration:line-through;
       margin-bottom:0;
    padding-bottom:0;
 }
.divtext6{
    padding-left:30%;
    color:#808080;
      bottom:80px;  
     position:relative;
    right:180px;
     margin-bottom:0;
    padding-bottom:0;}
.divtext61{
    padding-left:0%; 
      text-decoration:line-through;
       margin-bottom:0;
    padding-bottom:0;}
.divtext7{
    padding-left:13%;
    color:#808080;
    bottom:80px;  
     position:relative;
    right:60px;
      margin-bottom:0;
    padding-bottom:0;}
.divtext8{

    padding-left:20%;
    color:#808080;
      margin-bottom:0;
    padding-bottom:0;}


.gggg{ 
   width:250px;
   height:80%;
  padding-left:15%;

  }
.iiii{ 
   width:420px;
   height:80%;
  padding-right:2%;
  }
.center{ 
 display:grid;
 grid-template-columns:1fr 1fr 1fr;}
 }
.ttt{
    
     padding:10px 10px 4px ;
     float:left;
   }
li.text{
  display:inline-block;
  font-size:20px;
  padding:25px 20px 20px ;
 
  color:white;
  text-decoration:none;
  }
.googleicons{
     padding:90px 2px 30px ;
     float:right;}

.buying{
     position:relative;
     right:30px;
     padding:60px;
     width:2%;
     display:grid;
     grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;}
.logo{
   width:300px;
   height:90px;

    position:relative;
  left:100px; top:6px;
  }
  
   padding:2px 130px 2px;}
.uuu{
  padding:40px;
  overflow:hidden;}
.search2{
    margin-top:95px;
    padding:9px 110px 1px 400px;
    margin-right:120px;
    
    float:right;
    
    }

.search3{
    margin-top:95px;
    padding:1px 2px;
    margin-right:1px;
    float:right;
    
    }
.head{
   padding:80px 0px 2px;
   }
.hell{
   float:right;
   padding:26px;}
.penn{
   padding:1px; 5px;
   float:right;}
.liicons{
     padding:25px;
     float:right;}
.liiicons{
     padding:28px 6px;
     float:right;}
.liiiicons{
     padding:25px 1px;
     float:right;}
.search{
    float:right;
   left:400px;
   margin:60px ;
    padding:3px 1px 4px 3px;
    
    }

.index20{
    bottom:80px;  
     position:relative;
    right:60px;}
.why{
 bottom:70px;  
     position:relative;
   left:108px;
    color:#808080;}
.how{
  bottom:75px;  
     position:relative;
   right:740px;
color:#808080;}





.footer-basic {
    padding:40px ;
  bottom:0;  ;background-color:rgb(9, 9, 9);
    color:#fafafc;
   width:1300px;height;40px;position:relative;padding-left:0;right:325px;   }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
background-color:rgb(9,9,9); }
  
  .footer-basic li {
    padding:0 10px;
    display: inline;
  background-color:rgb(9, 9, 9);position:relative;left:300px; }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
 background-color:rgb(9, 9, 9);  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  .footer-basic i img{
      width: 40px;
      height: auto;
      border-top-left-radius: 25px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
