*{
    margin: 0px 0px;
    border: 0px;
}
h2,h3,p{
    margin: 15px 10px;

}
body{
    background-color: white;
     color: black;
     width: 100%;
    
}


.footer-basic {
    padding:40px 0;
    background-color:rgb(9, 9, 9);
    color:#fafafc;
    z-index: 20;
  }
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
.footer-basic li {
    padding:0 10px;
    display: inline;
  }
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
.footer-basic ul a:hover {
    opacity:1;
  }
  
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  .footer-basic i img{
      width: 40px;
      height: auto;
      border-top-left-radius: 25px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
    
  }

.navbar{
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(254, 254, 254);
    z-index: 20;
    margin-top: 0px;

}
.nav{
    padding: 5px 4vw;
    display: flex;
    height: 100px;
    justify-content: space-between;

}
.brand-logo {
    height: 90px;
    width: 200px;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0%;
    margin-bottom: 0px;
    border-radius: 10px;
    object-fit: cover;
}
.nav-items{
    display: flex;
    align-items: center;
}
.search{
    width: 500px;
    display: flex;
    margin-top: 10px; 
}
.sear-box{
    width: 80%;
    height: 17px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #afaaaa;
    text-transform: capitalize;
    background: none;
    color:#afaaaa;
    }
.btn{
    width: 20%;
    height: 40%;
    padding: 10px 20px;
    border: none;
    background:rgb(36, 98, 145);
    color: rgb(254, 254, 254);
    cursor: pointer;
    outline:none;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sear-box::placeholder{
    color:#2f2d2d;
}
.nav-items a{
    margin-left: 10px;
}
.nav-items a img{
    width: 30px;
    margin-top:12px ;
    margin-bottom: 12px;
    border-radius: 50%;
}
.links{
     padding-left: 50px;

    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #c3b0b0;
}
.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    color: #16516b;
    opacity: 0.5;
    transition: 0.5s;
    text-decoration: none;
}
.link:hover{
    opacity: 1;
}
#privacypolicy {
    border: blueviolet double 5px;
    height: 50vh; 
    text-align: center;
    margin: 5px 10px;
}
#but-privacy{
    transition: transform .2s;
}
#but-privacy:hover{
    transform: scale(.75);
}
#information{
    border: blueviolet double 5px;
    text-align: center;
    margin: 5px 10px;
}
#privacypolicy h2, #information h2{
    margin: 10px 50px;
}
#privacypolicy p, #information p{
    margin: 20px 70px;
}
#but-privacy{
    align-items: center;
    height: 50px;
    width: 350px;
    background-color: rgb(98, 0, 255);
    color: white;
    border-radius: 5%;
    border: black solid 2px;
    margin-bottom: 20px;
}

.contanier-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    border: blueviolet double 5px;
    padding: 10px 10px;
    margin: 5px 10px;
}
#horzintal{
    color: aqua;
}
#dir{
    border: blueviolet double 5px;
    text-align: center;
    margin: 5px 10px;

}
.dir-item{
    margin: 10px 10px;
    border: rgb(255, 0, 170) dashed 3px;
}
#contanir-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: blueviolet double 5px;
    margin: 10px 10px;
}
#contact,#youracceptance,#contactus{
    width: 33.3%;
    border: rgb(255, 0, 170) dashed 3px;
    margin: 10px 10px;
    text-align: center;
}
.link-item-1{
    background-color: white;
}
.dark-mode {
    background-color: black;
    color: white;
}
.con-item{
    border: rgb(255, 0, 170) dashed 3px;
    margin: 10px 10px;

}
h2,h3{
    font-family: 'Koulen', cursive;
    font-size: 100%;
}
p,ul,ol{
    font-family: 'Cairo', sans-serif;
    font-size: 80%;

}