section{
    padding: 50px 50px;
    margin: 20px;
    display: flex;
    background-color: whitesmoke;
    flex-wrap: wrap;
    flex-direction: row;
}
h2{
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    text-align: start;
}
#pdt img{
    width: 50%;
    height: 500px;
    border-radius: 25px;
    object-fit: contain;
}
#pdt  .des{
    font-size: 40px;
    font-weight: 200;
    padding: 10px 0px;
    margin: 10px 0;
    align-items: center;
    text-align:center;
}
#pdt button{
    width: 80px;
    height: 40px;
    border-radius: 50px;
    background-color:cadetblue;
    font-weight: 500;
    color: black;
    text-decoration: none;
    align-content: center;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;

}
#pdt input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
}
#pdt .description{
    align-content: center;
    text-align: center;

    padding: 10px 0;
    margin: 10px 0;
}
.footer-basic {
    padding:40px 0;
    background-color:rgb(9, 9, 9);
    color:#fafafc;
    z-index: 20;
    position: relative;
    top: 400px;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
    display: inline;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  .footer-basic i img{
      width: 40px;
      height: auto;
      border-top-left-radius: 25px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  
  .navbar{
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(254, 254, 254);
    z-index: 20;

}
.nav{
    padding: 5px 4vw;
    display: flex;
    height: 100px;
    justify-content: space-between;

}
.brand-logo {
    height: 90px;
    width: 200px;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0%;
    margin-bottom: 0px;
    border-radius: 10px;
    object-fit: cover;
}
.nav-items{
    display: flex;
    align-items: center;
}
.search{
    width: 500px;
    display: flex;
    margin-top: 10px; 
}
.sear-box{
    width: 80%;
    height: 37px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #afaaaa;
    text-transform: capitalize;
    background: none;
    color:#afaaaa;
    }
.btn{
    width: 20%;
    height: 40%;
    padding: 10px 20px;
    border: none;
    background:rgb(36, 98, 145);
    color: rgb(254, 254, 254);
    cursor: pointer;
    outline:none;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sear-box::placeholder{
    color:#2f2d2d;
}
.nav-items a{
    margin-left: 10px;
}
.nav-items a img{
    width: 30px;
    margin-top:12px ;
    border-radius: 50%;
}
 .links{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #c3b0b0;
}
.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    color: #16516b;
    opacity: 0.5;
    transition: 0.5s;
    text-decoration: none;
}
.link:hover{
    opacity: 1;
} 

